body{
    background-color:lightblue;
    position: relative;
}


.button1 {
    background-color:red;
    margin-top: 250px;
    margin-left: 800px;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    position: relative;
    box-shadow: -1px 25px grey;
}
